article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;  }

body {
  margin: 0;
  height: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Default tab style */
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em; }

/* Nav */
.tabs nav {
  text-align: center; }

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5; }

.tabs nav a span {
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.75em; }

.tabs nav li.tab-current a {
  color: #000; }

.tabs nav a:focus {
  outline: none; }

/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-upload::before {
  content: "\e68a"; }

.icon-tools::before {
  content: "\e60a"; }

.icon-plane::before {
  content: "\e625"; }

.icon-joy::before {
  content: "\e6a4"; }

.icon-plug::before {
  content: "\e69a"; }

.icon-home::before {
  content: "\e648"; }

.icon-gift::before {
  content: "\e652"; }

.icon-display::before {
  content: "\e65e"; }

.icon-date::before {
  content: "\e660"; }

.icon-config::before {
  content: "\e666"; }

.icon-coffee::before {
  content: "\e669"; }

.icon-camera::before {
  content: "\e66f"; }

.icon-box::before {
  content: "\e674"; }

/* Content */
.content-wrap {
  position: relative; }

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  
}

.content-wrap section.content-current {
  display: block; }

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

.no-flexbox nav ul {
  display: block; }

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block; }

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none; }

  .tabs nav a:before {
    margin-right: 0; } }
/*****************************/
/* Triangle and line */
/*****************************/
.tabs-style-linetriangle nav a {
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.tabs-style-linetriangle nav a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em; }

.tabs-style-linetriangle nav li.tab-current a:after,
.tabs-style-linetriangle nav li.tab-current a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: '';
  pointer-events: none; }

.tabs-style-linetriangle nav li.tab-current a:after {
  margin-left: -10px;
  border-width: 10px;
  border-top-color: rgba(0, 0, 0, 0.2); }

.tabs-style-linetriangle nav li.tab-current a:before {
  margin-left: -11px;
  border-width: 11px;
  border-top-color: rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 58em) {
  .tabs-style-linetriangle nav {
    font-size: 0.6em; } }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

body {
  background: #8b9da9;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
  color: #74777b;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif; }

/* Correct Banding on Gradients */
html, body {
  background-size: auto auto; }

/* Section Headings */
nav h2 {
  color: #fff6e4; }

a {
  color: #8b9da9;
  text-decoration: none;
  outline: none; }

a:hover, a:focus {
  color: #fff; }

.support {
  display: none;
  color: #ef5189;
  text-align: left;
  font-size: 1.5em;
  max-width: 1200px;
  margin: 1em auto 0;
  padding: 0; }

.no-flexbox .support {
  display: block; }

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0; }

.container > section {
  padding: 5em 0;
  font-size: 1.25em;
  min-height: 100%; }

p {
  padding: 1em; }

/* Header */
.codrops-header {
  padding: 7em 0 3em;
  letter-spacing: -1px; }

.codrops-header h1 {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 5em;
  line-height: 1; }

.codrops-header h1 span {
  display: block;
  font-size: 50%;
  font-weight: 400;
  padding-top: 0.325em;
  color: #bdc2c9; }

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2; }

.codrops-top a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  letter-spacing: 1px; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  display: block;
  float: left; }

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.codrops-icon-drop:before {
  content: "\e001"; }

.codrops-icon-prev:before {
  content: "\e004"; }

/* Related demos */
.related {
  text-align: center; }

.related > a {
  width: calc(100% - 20px);
  max-width: 340px;
  border: 1px solid black;
  border-color: initial;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px; }

.related a img {
  max-width: 100%;
  opacity: 0.8; }

.related a:hover img,
.related a:active img {
  opacity: 1; }

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left; }

@media screen and (max-width: 1280px) {
  .codrops-header h1 {
    padding: 0 0.5em; }

  .support {
    padding: 0 1.5em; } }
@media screen and (max-width: 30em) {
  .container > section {
    padding: 3em 0; }

  .codrops-header {
    padding: 2em 0 1em; }

  .codrops-header h1 {
    font-size: 3.5em; } }
@media screen and (max-width: 25em) {
  .codrops-icon {
    font-size: 1.5em; }

  .codrops-icon span {
    display: none; } }
